<p>
  invoice works!
</p>
<br/>
<br/>
<div class="invoice-wrapper">
  <div class="ticket-wrapper">
    <table mat-table [dataSource]="tickets" multiTemplateDataRows class="mat-elevation-z8 ticket-table">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns;">
        <th mat-header-cell *matHeaderCellDef> {{renderingHeader(column)}} </th>
        <td mat-cell *matCellDef="let ticket"> {{ticket[renderingHeader(column)]}} 
          <!--<mat-checkbox *ngIf="column =='printable'" [(ngModel)]="ticket[0].projectPrintable"></mat-checkbox>-->
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <!--Expandable Panel-->
    <!--<div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
    </div>-->
    <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"
            class="element-row"
            [class.expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>-->
    </table>
  </div>
</div>