.mat-table{
    width : 100%
}
.invoice-wrapper{
    .invoice-wrapper{
        .matheaderrow{
            display: flex;
            flex: 0 0 100%;
            .mat-header-cell{
                &.mat-column-ticket_invoice_id{
                    flex:0 0 20%;
                }
                &.mat-column-ticket_code{
                    flex:0 0 40%;
                }
                &.mat-column-ticket_price{
                    flex:0 0 40%;
                }
            }
            .mat-cell{
                &.mat-column-ticket_invoice_id{
                    flex:0 0 20%;
                }
                &.mat-column-ticket_code{
                    flex:0 0 40%;
                }
                &.mat-column-ticket_price{
                    flex:0 0 40%;
                }
            }
        }
    }
}